<link rel="stylesheet" href='/header.css'>
<header>
    <h1>CMS</h1>
    <nav>
        <a href="/createBlog">Add Blog</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>

    </nav>
</header>